.hidden{
    display: none;
}
body {
    background-image: url(images/brickBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 background {
  color:rgba(230, 226, 147, 0.599)

}
#status-panel {
    color : #fff;
    background-color:black;
  position: fixed;
  top: 10px;
  right: 10px;
  /* styling here */
}

#welcome-text {
  color: #fff;
}
#return-message {
  color: #fff;
    position: center;
    top: 50px;
    transition: 1s;
   
}
#body {
    position: center;
    
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: rgba (0, 255, 0, 0.01);
}

#spawn-btn {
  background-color: #4b2e83;
  color: #fff;
  padding: 12px 24px;
  font-family: 'Press Start 2P', cursive;
  border: 2px solid gold;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(255, 215, 0, 0.6);
  cursor: pointer;
}
